.map {
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0.1rem $c-shadow;
  background: rgb(129,120,111);
  border-radius: 0.2rem;


  &__heading {
    margin: 0;
    padding-bottom: 1rem;
    color: $c-white;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.1rem $c-shadow;
  }
}

.leaflet-container {
  height: 80vh;
  width: 100%;
  box-shadow: -0.1rem -0.1rem 0.1rem 0;
}

.trips {
  height: 100%;

  &__heading {
    text-align: center;
  }
}

.trip {
  display: flex;
  padding: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem $c-shadow;
  background: rgba($c-blue, 0.5);
  max-height: 16rem;
  width: 100%;

  &__cover {
    max-width: 20rem;
    position: relative;
    height: 15rem;
    cursor: pointer;

    &__pic {
      height: 100%;
      width: 100%;
    }
  }

  &__pics {
    margin-left: 0.5rem;
    display: flex;
    width: 100%;
  }
}

.pic-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  max-height: 100%;

  &__item {
    height: calc(50% - 1rem);
    max-width: 6rem;
    min-width: 6rem;
    margin: 0.5rem;
    overflow: hidden;
  }
}

.chevron {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pic-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.pic-button {
  background: rgba($c-deepBlue, 0.4);
  border:none;
  outline: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: $c-white;
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  height: 100%;
  transition: background 1s;

  &:hover {
    // cursor: pointer;
  }
}

.small-pic {
  max-width: 7rem;
  max-height: 7rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.no-pics-wrapper {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-pics {
  text-align: center;
}

.leaflet-popup-content {
  // width: auto !important;
  min-width: 6rem;
  min-height: 6rem;
}

.map-pic {
  margin: -0.85rem 0.5rem;
  border-radius: 0.75rem;
  padding: 0.5rem;
  height: 100%;
  object-fit: contain;
  max-width: 100%;

  > * + * {
    margin-top: 1rem;
  }

  &__location {
    margin: -0.4rem 0 -1rem;
  }

  &__pic {
    border-radius: 0.5rem;
    margin-bottom: 0rem;
    width: 100%;
    height: 100%;
  }
}

.scrollBtn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.pic-wrapper:hover .favorite {
  color: $c-white;

  &:hover {
    color: $c-favorite;
  }
}

.favorite {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  background: none;
  border: none;
  color: rgba(#fff,0);
  transition: color 1s;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.favorite--active {
  color: $c-white;
}

.trip__cover:hover .pic-button {
  background: none;
}

.modal-button {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;

  &:hover {
    cursor: pointer;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
