.map {
  margin: 1rem;

  &__heading {
    text-align: center;
  }
}

.leaflet-container {
  height: 80vh;
  width: 100%;
  box-shadow: 0.1rem 0.1rem 0.1rem $c-shadow;
}

.trips {
  height: 100vh;
  margin: 1rem;

  &__heading {
    text-align: center;
  }
}

.trip {
  display: flex;
  padding: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem $c-shadow;
  background: rgba($c-blue, 0.3rem);
  max-height: 16rem;
  width: 100%;

  &__cover {
    // flex-basis: 60%;
  }

  &__pics {
    margin-left: 0.5rem;
    display: flex;
    width: 100%;
  }
}

.pic-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: scroll;
  width: 100%;

  &__item {
    flex-basis: calc(50% - 1rem);
    margin: 0.5rem;
    min-width: 7rem;
  }
}

.chevron {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
