.section {
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 60rem;

  &--register {
    background: linear-gradient(rgba($c-blue, 0.3), rgba($c-blue, 0.3)), url('/images/map-background.jpg');
    background-size: cover;
    height: 100vh;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  min-height: 100%;
  margin-bottom: -2rem;

  &:after {
    content: "";
    display: block;
  }
}

.footer, .app:after {
  height: 2rem;
}
