.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.section {
  padding: 1rem;

  &--map {
    background: url('/images/home-background.jpg');
    background-size: cover;
  }

  &--index {
    background: #6b6b6b;
  }

  &--register {
    height: 100%;
    background: linear-gradient(rgba(227,186,149, 0.3), rgba(227,186,149, 0.3)), url('/images/map-background.jpg') no-repeat center fixed;
    background-size: cover;
  }

  &--login {
    height: 100%;
    background: url('/images/cool-waterfall.jpg') ;
    background-size: cover;
  }

  &--form {
    height: 100%;
  }
}

.container {
  margin: 0 auto;
  max-width: 60rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.footer {
  height: 2rem;
}
