body {
  margin: 0;
}

ul {
  padding-left: none;
  list-style: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
