body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  align-self: center;
  max-width: 100%;
}

.section {
  padding: 1rem;

  &__register {
    background: linear-gradient(rgba($c-blue, 0.3), rgba($c-blue, 0.3)), url('/images/map-background.jpg');
    background-size: cover;
    height: 100vh;
  }
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  height: 100vh;
}
