@import "ember-cli-font-awesome-sass";

$c-blue: rgb(68, 151, 232);
$c-green: rgb(88, 232, 158);
$c-deepGreen: rgb(53,162,73);
$c-cyan: rgb(109, 254, 255);
$c-deepBlue: rgb(48,50,175);
$c-lightGreen: rgb(155, 255, 150);
$c-white: #fefefe;
$c-shadow: rgba(#5b5b5b,.47);

@import './resets.scss';

@import './navbar.scss';

@import './layout.scss';

@import './home-page.scss';
