@import "ember-cli-font-awesome-sass";


$c-blue: rgb(68, 151, 232);
$c-green: rgb(69,193,129);
$c-deepGreen: darken($c-green, 15%);
$c-greenLightened: lighten($c-green, 8);
$c-cyan: rgb(109, 254, 255);
$c-deepBlue: rgb(1,17,75);
$c-deepBlueLightened: lighten($c-deepBlue, 8);
$c-lightGreen: rgb(155, 255, 150);
$c-white: #fefefe;
$c-text: rgb(61,61,61);
$c-shadow: rgba(0, 0, 0, .2);

@import 'resets';
@import 'layout';

@import 'form';
@import 'button';
@import 'card';

@import 'navbar';

@import 'home-page';

.user-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;

  &__pic {
    max-width: 5rem;
    max-height: 5rem;
    width: 100%;
    height: 100%;
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  &__content {
    flex-direction: column;
    padding: 0 0.5rem;
  }

  &__title {
    margin: 0;
    text-shadow: 0.1rem 0.1rem 0.1rem $c-shadow;
  }
}

.user-avatar {
  max-width: 5rem;
  max-height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
