<div class="top-bar">
  <div class="container">
    <div class="nav">
      <div class="nav-left">
        <h3>
          {{#link-to "index"}} <img src="/images/trippin-logo.png" class="logo"> {{/link-to}}
        </h3>
      </div>
      <div class="nav-right">
        <h4 class="login-buttons">
          {{#link-to "register"}}<span class="register">Register</span>{{/link-to}}
          {{#link-to "index"}}<span class="login">Login</span>{{/link-to}}
        </h4>
      </div>
    </div>
  </div>
</div>

{{outlet}}

<div class="footer"></div>
