<div class="section section--map">
  <div class="container">
    <div class="map">
      <div class="user-info">
        <div class="user-info__content">
          <h1 class="user-info__title">{{model.username}}</h1>
          {{!-- <p class="user-info__title">Followed by X travelers</p>
          <p class="user-info__title">Following X travelers</p> --}}
        </div>
      </div>

      {{trip-map trips=model.trips}}
    </div>
  </div>
</div>

<div class="section section--index">
  <div class="container">
    <div class="trips">

      {{liquid-outlet}}

    </div>
  </div>
</div>
