<div class="section section__register">
  <div class="container">
    <div class="flex-center">
      <div class="card">
        <div class="card-header">
          <h1 class="title title__register">
            Start Trippin'
          </h1>
        </div>
        <form class="form form__register">
          <div class="card-content">
            <input type="text" placeholder="username" class="input input__register">
            <input type="text" placeholder="email" class="input input__register">
            <input type="password" placeholder="password" class="input input__register">
          </div>
          <div class="card-footer">
            <a href="/" class="button button__register">Back</a>
            <button class="button button__register">Continue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
