<div class="section section__register">
  <div class="container">
    <div class="flex-center">
      <div class="card">
        <div class="card-header">
          <h1 class="title title__register">
            Start Trippin'
          </h1>
        </div>
        {{#with (changeset model userValidator) as |formValues|}}
        <form {{action "saveUser" formValues on="submit"}} class="form form__register">
          <div class="card-content">
            {{form-input changeset=formValues label="Username" property="username"}}
            {{form-input changeset=formValues label="Email" property="email"}}
            {{form-input type="password" changeset=formValues label="Password" property="password"}}
          </div>
          <div class="card-footer">
            {{#link-to "index" class="button button__register"}}Back{{/link-to}}
            <button class="button button__register">Continue</button>
          </div>
        </form>
        {{/with}}
      </div>
    </div>
  </div>
</div>
